# Project 4 K-Nearest Neighbors On Two Data Sets

## Part 1: Cleveland Data Set

In [28]:
#Common imports for use in the data visualization
import math
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import csv
import scipy.stats as stats

from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import precision_recall_fscore_support

In [29]:
#clevelandDf = pd.read_csv('datasets/cleveland.csv')
#clevelandDf
# See README for column descriptions

## Part 2: Student Dropout Data Set

## [Good Datasets Here](https://archive.ics.uci.edu/)

In [138]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

school_df = pd.read_csv('data.csv')
interested_columns = ["Age at enrollment", "Tuition fees up to date", "Previous qualification (grade)", "Scholarship holder", "Target"]
school_interested = school_df[interested_columns].copy()

dropout_count = school_interested['Target'].value_counts().get('Dropout')
print("Number of dropouts:", dropout_count)
not_dropout_count = (school_interested['Target'] != 'dropout').sum()
print("Number of students who are not dropouts:", not_dropout_count)


# Standardize the non-binary data
school_interested['Age standardized'] = (school_interested['Age at enrollment'] - school_interested['Age at enrollment'].mean()) / (school_interested['Age at enrollment'].std())
school_interested['Tuition standardized'] = (school_interested['Tuition fees up to date'] - school_interested['Tuition fees up to date'].mean()) / (school_interested['Tuition fees up to date'].std())
school_interested['Grades standardized'] = (school_interested['Previous qualification (grade)'] - school_interested['Previous qualification (grade)'].mean()) / (school_interested['Previous qualification (grade)'].std())
school_interested['Scholarship standardized'] = (school_interested['Scholarship holder'] - school_interested['Scholarship holder'].mean()) / (school_interested['Scholarship holder'].std())

school_interested = school_interested.sort_values(by='Scholarship holder', ascending=False)

nn = NearestNeighbors(n_neighbors=9, metric='euclidean', algorithm='auto')

student = school_interested.sample(1)
studentX = student[['Age standardized', 'Grades standardized']].values[0]		# moved this block above
display(student)

# need to get rid of the patient itself
X = school_interested.drop(student.index)[['Age standardized', 'Grades standardized']].values

# Build index data structure under the hood for query performance
fit = nn.fit(X)

# Find k nearest neighbors
distances, indices = fit.kneighbors([studentX])
distances, indices

# Get the patients that are near the age
nbrs = school_interested.iloc[indices[0]]
display(nbrs)

# Print how many patients are sick and how many are healthy
in_school = nbrs[(nbrs['Target'] == "Enrolled") | (nbrs['Target'] == "Graduate")].count()
dropout = nbrs[nbrs['Target'] == "Dropout"].count()
#print('in school: {}\ndropout: {}'.format(in_school, dropout))

prediction = "isn't a dropout" if in_school['Target'] > dropout['Target'] else "is a dropout"
print("We predict this student is: " + prediction)

#display(school_interested)

Number of dropouts: 1421
Number of students who are not dropouts: 4424

,Age at enrollment,Tuition fees up to date,Previous qualification (grade),Scholarship holder,Target,Age standardized,Tuition standardized,Grades standardized,Scholarship standardized
917,37,1,133.1,0,Dropout,1.81012,0.368094,0.036903,-0.574849

,Age at enrollment,Tuition fees up to date,Previous qualification (grade),Scholarship holder,Target,Age standardized,Tuition standardized,Grades standardized,Scholarship standardized
2792,37,1,133.1,0,Graduate,1.810120,0.368094,0.036903,-0.574849
2040,20,0,128.0,0,Dropout,-0.430314,-2.716085,-0.349803,-0.574849
2904,37,1,133.1,0,Dropout,1.810120,0.368094,0.036903,-0.574849
3483,37,0,133.1,0,Dropout,1.810120,-2.716085,0.036903,-0.574849
2562,37,1,133.1,0,Dropout,1.810120,0.368094,0.036903,-0.574849
2795,37,1,133.1,0,Graduate,1.810120,0.368094,0.036903,-0.574849
4400,37,1,133.1,0,Dropout,1.810120,0.368094,0.036903,-0.574849
3997,37,1,133.1,1,Graduate,1.810120,0.368094,0.036903,1.739193
255,37,0,133.1,1,Dropout,1.810120,-2.716085,0.036903,1.739193

We predict this student is: is a dropout

In [ ]:
# Continue here

(p,r,f,s) = precision_recall_fscore_support(patientsy, y_pred, labels=[0,1])
print(f'precision={p}, recall={r}, f-score={f}, support={s}')